.actions {
    margin-bottom: 10px;
    .icons {
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .stars {}
        .like-box {
            display: flex;
            align-items: center;
            .likes {
                font-weight: 600;
                font-size: $normal-font-size + 1;
                margin-right: 5px;
                cursor: pointer;
            }
            .icon {
                cursor: pointer;
                margin-right: 5px;
                margin-top: 3px;
            }
        }
    }
}