.comments {
    margin-bottom: 12px;
}

.comment {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 7px;
    display: flex;
    height: 13px;
    .username {
        font-weight: 600;
        margin-right: 5px;
    }
    .message {
        max-width: 90%;
    }
    .xbox {
        padding-top: 1px;
        margin-left: 5px;
        cursor: pointer;
    }
}