.comments {
    margin-bottom: 12px;
}

.comment {
    max-width: 100%;
    flex-direction: row;
    margin-bottom: 7px;
    display: flex; //height: 13px;
    .username {
        font-weight: 600;
        margin-right: 5px;
    }
    .commentbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        max-width: 525px;
        .message {
            flex-wrap: wrap;
            max-width: 495px;
            word-wrap: break-word;
        }
        .xbox {
            margin-left: 5px;
            height: 13px;
            cursor: pointer;
        }
    }
}